<table  style="width:1200px">
<thead>
  <tr>
    <th style="width:500px; text-align: left; font-size: 20px;">レシピシート</th>
  </tr>
</thead>
<tbody>
    <tr>
      <td>
        <%= form_with model: @recipe, url: recipes_path do |f| %>
          <%= f.collection_select :id, Recipe.all, :id, :name,  include_blank: "選択して下さい" %>
          <%= f.submit '検索'%>
        <% end %><br>       
        </td>
    </tr>
    <tr>
      <td>
      <h4>〇レシピシートの説明〇</h4>
      1.「選択してください」から作りたいレシピを選択してください<br>
      2.「検索」を押すと、レシピが展開されます<br>
      </td>
    </tr>
    <tr>
      <td>
      <h4>〇ナビゲーションの説明〇</h4>
      <% if logged_in? %>
      1. ログアウト・・・ログアウトします。<br>
      2. マイレシピ・・・登録したレシピを表示します。<br>
      3. レシピ検索・・・レシピ検索画面を表示します（現在表示している画面です）。<br>
      4. アカウント編集・・・アカウントを編集します。<br>
      <% else %>
      1. ログイン・・・ログインページを表示します。<br>
      2. レシピ検索・・・レシピ検索画面を表示します（現在表示している画面です）。<br>
      3. アカウント登録・・・アカウントを登録します。<br>
      <% end %>
      </td>
    </tr>
</tbody>
</table>
      